body
{

}

input
{
background:#009cff;
 color: #ff0033;
 font-size: 19px;
}

#banner img
{
width: 1000px;
height: 150px;
}

#principal
{
width: 1024px;
height: 1020px;
}

#img
{
align: center;
}

#menu
{
width:1000px; 
height:205px; 
margin-right:1px;
margin-left:10px;
margin-top:5px;
}



#a
{
width:1000px; 
height:650px; 

display:inline;
float:left;
margin-right:1px;
margin-left:10px;
margin-top:5px;
}

#general
{
background:#009999;
width:1324px;
height:600px;
}

#liz
{
width:200px; 
height:400px; 
background:#fff; 
display:inline;
float:left;
margin-right:1px;
margin-left:30px;
margin-top:10px;
}



#b
{
width:535px; 
height:400px; 
background-image: url("fc.jpg");
display:inline;
float:left;
margin-right:1px;
margin-left:2px;
margin-top:10px;
}


#lde
{
width:200x; 
height:400px; 
background:#fff880; 
display:inline;
float:left;
margin-right:1px;
margin-left:2px;
margin-top:10px;
}

#barra
{

width:170px;
height:70px;


 width: 942px;
height: 120px;
border-color:#ffffff;
text-align:center;
margin-top:5px;
margin-right:1px;
margin-left:30px;
margin-top:20px;
}


#barra
{

float :left;
margin-right:20px;
padding-top:10px;
font-family:SimHei;
font-size:12px;
color:Black;
}




#barra2
{
width: 170px;
height: 210px;

width: 942px;
height: 100px;
text-align:center;
margin-top:5px;
margin-right:0px;
margin-left:30px;
margin-top:2px;
}

#barra2:hover
{
 color: #00ffff;
}

#barra2
{
display:block;
float :left;
margin-right:20px;
}
